{{#data-whale-reference-modal}}
<div class="whale-modal whale-modal-fade whale-reference-modal" id="whale-reference-modal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="whale-reference-modal-label" aria-hidden="true">
	<div class="whale-modal-dialog whale-reference-modal-dialog">
		<div class="whale-modal-content whale-reference-modal-content">
			<div class="whale-modal-header">
				<h2 class="whale-modal-title" id="whale-reference-modal-label" tabindex="-1" data-whale-modal-autofocus data-whale-reference-title>{{title}}</h2>
				<button type="button" class="whale-modal-close" data-whale-dismiss="modal" aria-label="{{close-label}}"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="whale-modal-body whale-reference-body">
				<div class="whale-reference-content" data-whale-reference-content tabindex="0" role="document"></div>
			</div>
			<div class="whale-reference-actions">
				<a class="whale-reference-jump" href="#" data-whale-reference-jump>{{jump-label}}</a>
			</div>
		</div>
	</div>
</div>
{{/data-whale-reference-modal}}
